@model IEnumerable<ANIMANIA.Models.Usuario>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Cards</title>

    <!-- Custom fonts for this template-->
    <link href="~/Scripts/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Scripts/sb-admin-2.min.css" rel="stylesheet">

    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <link href="~/Scripts/alertify.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/alertify.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body id="page-top">

   
    <div id="wrapper">

        
        <ul class="navbar-nav w3-red sidebar sidebar-dark accordion" id="accordionSidebar">


            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Administrador</div>
            </a>


            <hr class="sidebar-divider my-0">


            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <span>Dashboard</span>
                </a>
            </li>


            <hr class="sidebar-divider">


            <div class="sidebar-heading">
                Módulo de Compras
            </div>


            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","OrdenCompraAdmin")">
                    <span>Órdenes de Compra</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","OrdenDespachoAdmin")">
                    <span>Órdenes de Despacho</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Orden_Compra_Proveedor")">
                    <span>Órdenes de Compra Proveedores</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("DespachoSucursal","OrdenDespachoAdmin")">
                    <span>Despacho Sucursal</span>
                </a>
            </li>

            <hr class="sidebar-divider">


            <div class="sidebar-heading">
                Módulo de Recursos Humanos
            </div>


            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","EmpleadoAdmin")">
                    <span>Registro de Empleados</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contratos","EmpleadoAdmin")">
                    <span>Contratos</span>
                </a>
            </li>


            <hr class="sidebar-divider">


            <div class="sidebar-heading">
                Consola de Seguridad
            </div>



            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","UsuarioAdmin")">
                    <span>Seguridad</span>
                </a>
            </li>


            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Módulo de Inventario y Productos
            </div>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Admin")">
                    <span>Producto</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Admin")">
                    <span>Productos en Tránsito</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","OrdenRecepcion")">
                    <span>Orden de Recepción</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="w3-bar-block btn-primary w3-card" style="width:130px;height:50%;position:absolute">
                        <h5 class="w3-bar-item">CONSOLA</h5>
                        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Fade')">USUARIOS</button>
                        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Left')">ROLES</button>

                    </div>

                    <div id="info" class="w3-animate-left" style="width:85%;margin-left:15%">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Consola de Seguridad</h1>
                        </div>

                        <div class="row" style="margin-bottom:5%;width:80%">

                            <p>Recuerde que luego de realizar alguna modificación, se debe guardar los cambios.</p>

                        </div>



                    </div>

                    <!--INICIO ADMIN-->

                    <div id="Fade" class="city w3-animate-opacity" style="width:85%;margin-left:15%;display:none">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Listado de Usuarios</h1>
                        </div>

                        <div class="row" style="margin-bottom:5%;width:80%">


                            <button onclick="insertarAdmin('Fade')" class="btn btn-primary" style="margin-left:3.5%">Ingresar Nuevo Usuario</button>


                        </div>

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Usuarios</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>CODIGO</th>
                                                <th>CORREO</th>

                                                <th>ESTADO</th>
                                                <th>NOMBRE</th>
                                            </tr>
                                        </thead>
                                        <tbody id="añadir_tabla">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->
                    <!--FIN ADMIN-->
                    <!--Ingreso Admin-->
                    <div id="NuevoAdmin" class="w3-animate-opacity" style="width:85%;margin-left:15%;display:none">

                        <div class="row" style="margin-bottom:5%;width:80%">

                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Registrar Nuevo Usuario</h1>
                            </div>

                            <div style="width:100%">
                                <div class="form-row" style="margin-left:3%">
                                    <div class="form-group col-md-6">
                                        <label for="codigo">Empleado</label>
                                        @Html.DropDownList("idEmp", (SelectList)ViewBag.listaempusu, new { @class = "form-control", @id = "codEmp", @onChange = ("ObtenerEmpleado()") })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="codTipo">Tipo Usuario</label>
                                        <input id="tipo" type="text" class="form-control" value="EMPLEADO" readonly />
                                    </div>
                                </div>

                                <div class="form-row" style="margin-left:3%">
                                    <div class="form-group col-md-6">
                                        <label for="idEmp">Correo</label>
                                        <input type="text" class="form-control" id="correo" readonly />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="fecha">Estado</label>
                                        <input type="text" class="form-control" id="estado" readonly />
                                    </div>

                                </div>

                                <div class="form-row" style="margin-left:3%">
                                    <div class="form-group col-md-6">
                                        <label for="idEmp">Contraseña</label>
                                        <input type="password" class="form-control border-danger" id="pass" onkeyup="Validar1()" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="fecha">Repetir Contraseña</label>
                                        <input type="password" class="form-control border-danger" id="rptpass" onkeyup="Validar2()" />
                                    </div>

                                </div>
                                <button id="btnGenerar" onclick="insertarAdminForm()" class="btn btn-primary" style="margin-left:3.5%" disabled>Generar</button>
                            </div>

                        </div>


                    </div>
                    <!--Fin Ingreso Admin-->
                    <!--FORMULARIO CON FILTROS PARA LISTADO DE USUARIOS Y ROLES-->

                    <div id="Left" class="city w3-animate-left" style="width:85%;margin-left:15%;display:none">

                      
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Listado de Roles</h1>
                        </div>

                        <div class="row" style="margin-bottom:5%;width:80%">

                            <div style="width:100%">
                                <div class="form-row" style="margin-left:3%">
                                    <div class="form-group col-md-6">
                                        <label for="codigo">Código de Usuario</label>
                                        <input onkeyup="BuscarAsigEmp()" type="text" class="form-control" id="codUsu" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="codTipo">Nombre de Empleado</label>
                                        <input onkeyup="BuscarAsigEmp()" type="text" class="form-control" id="nomEmple" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Usuarios</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>CODIGO</th>
                                                <th>ASIGNACION</th>
                                                <th>ESTADO</th>
                                                <th>EMPLEADO</th>
                                            </tr>
                                        </thead>
                                        <tbody id="añadir_tabla2">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--FIN ROLES-->
                    <!--INSERTANDO ROLES -->

                    <div id="InsertarRoles" class="w3-animate-opacity" style="width:60%;margin-left:15%;display:none">

                        <div class="row" style="width:80%">

                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Registrar Roles</h1>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:5%;width:80%">

                            <div style="width:100%">
                                <div class="form-row" style="margin-left:3%">
                                    <div class="form-group col-md-6">
                                        <label for="codigo">Código de Usuario</label>
                                        <input type="text" class="form-control" id="codUsuario" readonly/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="codTipo">Nombre de Empleado</label>
                                        <input type="text" class="form-control" id="nomEmpleado" readonly/>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Roles Disponibles</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="80%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>CODIGO</th>
                                                <th>NOMBRE</th>
                                            </tr>
                                        </thead>
                                        <tbody id="añadir_tabla3">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Roles Actuales</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="80%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>CODIGO</th>
                                                <th>NOMBRE</th>
                                                <th>ESTADO</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="añadir_tabla4">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!--FIN INSERTAR ROLES-->

                </div>

                </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    

    <!--INICIO DEL MODAL-->

 
    <!--FIN DEL MODAL-->

    <script>

        window.onload = function () {
            ObtenerEmpleado();
        };


           function BuscarAsigEmp() {
            $('.rol').detach();
             var cod = $('#codUsu').val();
             if (cod === '') {
                 cod = 0;
             }
             var nombre = $('#nomEmple').val();
             if (nombre === '') {
                 nombre = "";
             }

             $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '@Url.Action("buscarAsignacionEmpleado", "UsuarioAdmin")',
                contentType: "application/json; charset=utf-8",
                data: { codigo: cod, nom: nombre },
                success: function (response) {
                    for (x of response) {
                        $('#añadir_tabla2').append("<tr class='rol'><td><input type='text' onclick='RolesDisponibles(" + x.idUsuario +")' style='border:none;color:blue;cursor:pointer' readonly value='" + x.idUsuario + "'/></td><td>" + x.nomAsignacion + "</td><td>" + x.desEstAsigEmp + "</td><td>" + x.nomEmpleado + "</td></tr>");
                        $('#codUsuario').val(x.idUsuario);
                        $('#nomEmpleado').val(x.nomEmpleado);
                    }
                },
                error: function (response) {
                    alert("error");
                }
             });
        }

        function openLink(evt, animName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
            }
            document.getElementById(animName).style.display = "block";
            evt.currentTarget.className += " w3-red";
            $('#info').css('display', 'none');
            $('#NuevoAdmin').css('display', 'none');
            $('#InsertarRoles').css('display', 'none');
            $('#añadir_tabla').html("");
            $('#pie_tabla').html("");

                    $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '@Url.Action("listarporTipoUsuario", "UsuarioAdmin")',
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (response) {
                    for (x of response) {
                        $('#añadir_tabla').append("<tr><td>" + x.idUsu + "</td><td>" + x.corUsu + "</td><td>" + x.desEstUsu + "</td><td>" + x.nomCliEmp + "</td></tr>");

                    }
                },
                error: function (response) {
                    alert("error");
                }
             });
        }

        function insertarAdmin(name) {
            $('#NuevoAdmin').css('display', 'block');
            $('#' + name).css('display', 'none');
        }

        function Validar1() {
           var num = $('#pass').val().length;
            if (num >= 5) {
                $('#pass').removeClass('border-danger');
                $('#pass').addClass('border-success');
                Validar2();
            } else {
                $('#pass').removeClass('border-success');
                $('#pass').addClass('border-danger');
            }

        }

        function Validar2() {
            var num = $('#pass').val().length;
            var pass = $('#pass').val();
            var rptpass = $('#rptpass').val();
            if (num >= 5 && pass === rptpass) {
                $('#rptpass').removeClass('border-danger');
                $('#rptpass').addClass('border-success');
                document.getElementById('btnGenerar').disabled = false;
            } else {
                $('#rptpass').removeClass('border-success');
                $('#rptpass').addClass('border-danger');
                document.getElementById('btnGenerar').disabled = true;
            }

        }

        function ObtenerEmpleado() {
            var cod = $('#codEmp').val();
             $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '@Url.Action("obtenerEmpleado", "UsuarioAdmin")',
                contentType: "application/json; charset=utf-8",
                data: { codigo: cod},
                 success: function (response) {
                     $('#correo').val(response.corEmp);
                     $('#estado').val(response.desEstEmp);
                },
                error: function (response) {
                    alert("error");
                }
             });
        }

        function insertarAdminForm() {
            var cod = $('#codEmp').val();
            var correo = $('#correo').val();
            var password = $('#pass').val();

            var usu =
            {
                idCliEmp: cod,
                corUsu: correo,
                passUsu: password,
                tipoUsu: 1
            };

            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '@Url.Action("insertarUsuario", "UsuarioAdmin")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(usu),
                success: function (response) {
                    alertify.confirm("Usuario creado correctamente", function () {
                        location.reload()
                    });
                },
                error: function (response) {
                    alert("error");
                }
             });
        }

        function RolesDisponibles(a) {
            $('#añadir_tabla3').html("");
            $('#InsertarRoles').css('display', 'block');
            $('#Left').css('display', 'none');
            $('#codUsuario').val(a);
            var cod = a;
            $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '@Url.Action("buscarAsignacionesFaltantes", "UsuarioAdmin")',
                contentType: "application/json; charset=utf-8",
                data: {codigo : cod},
                success: function (response) {
                    for (x of response) {
                        $('#añadir_tabla3').append("<tr><td>" + x.idAsignacion + "</td><td>" + x.nomAsignacion + "</td><td><input onclick='AñadirRol(" + x.idAsignacion + ")' type='image' src='/img/comprobar.png' /></td></tr>");
                        $('#nomEmpleado').val(x.nomEmpleado);
                    }
                },
                error: function (response) {
                    alert("error");
                }
            });
            RolesActuales(cod);
        }

        function RolesActuales(cod) {
            $('#añadir_tabla4').html('');
            var codigo = cod;
            $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '@Url.Action("buscarAsignacionesActuales", "UsuarioAdmin")',
                contentType: "application/json; charset=utf-8",
                data: {codigo : codigo},
                success: function (response) {
                    for (x of response) {
                        if (x.estado == 0) {
                            $('#añadir_tabla4').append("<tr><td>" + x.idAsignacion + "</td><td>" + x.nomAsignacion + "</td><td>ACTIVO</td><td><input onclick='EliminarRol(" + x.idAsignacion + ")' type='image' src='/img/borrar.png' /></td></tr>");
                        } else {
                            $('#añadir_tabla4').append("<tr><td>" + x.idAsignacion + "</td><td>" + x.nomAsignacion + "</td><td>INACTIVO</td><td><input onclick='AñadirRol(" + x.idAsignacion + ")' type='image' src='/img/comprobar.png' /></td></tr>");
                        }   
                    }
                },
                error: function (response) {
                    alert("error");
                }
            });
        }


        function AñadirRol(cod) {
            var usu = $('#codUsuario').val();
            var emp = {
                idUsuario: usu,
                idAsignacion: cod
            };
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '@Url.Action("insertarAsignacionEmpleado", "UsuarioAdmin")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(emp),
                success: function (response) {
                    alertify.confirm("Rol asignado correctamente", function () {
                        RolesDisponibles(usu);
                    });
                },
                error: function (response) {
                    alert("error");
                }
             });
        }

        function EliminarRol(cod) {
            var cod_usu = $('#codUsuario').val();
            $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '@Url.Action("eliminarRol", "UsuarioAdmin")',
                contentType: "application/json; charset=utf-8",
                data: { cod_asig: cod, cod_usu: cod_usu },
                success: function (response) {
                    alertify.set('notifier', 'position', 'top-center');
                    alertify.success('Rol eliminado correctamente');
                    RolesDisponibles(cod_usu);
                },
                error: function (response) {
                    alert("error");
                }
             });
        }

    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/jquery.dataTables.min.js"></script>
    <script src="~/Content/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/datatables-demo.js"></script>

</body>

</html>